    
    img {
        width: 100%;
    }

    .preview {
        width: 200px;
        text-align: justify;
        padding: 10px;
        margin: 50px auto;
        border: 2px solid orange;
        box-shadow: 0px 0px 15px gray;
        border-radius: 20px;
        font-size: 8pt;
        font-family: sans-serif;
    }